{% include 'pages/dashboard.html' %}
{% include 'pages/stocks.html' %}
{% include 'pages/data-init.html' %}
{% include 'pages/data-update.html' %}
{% include 'pages/selection.html' %}
{% include 'pages/money-flow.html' %}
{% include 'pages/history.html' %}
{% include 'pages/strategies.html' %}
{% include 'pages/backtest-params.html' %}
{% include 'pages/backtest-config.html' %}
{% include 'pages/backtest-history.html' %}
{% include 'pages/strategy-runner.html' %}
{% include 'pages/analysis.html' %}
{% include 'pages/stock-ranking.html' %}
{% include 'pages/ranking-track.html' %}
{% include 'pages/khunter-track.html' %}
{% include 'pages/khunter.html' %}
