<div id="stocks-page" class="page">
                    <div class="card">
                        <div class="card-header">
                            <input type="text" id="stock-search" placeholder="搜索股票代码或名称..." class="search-input form-control">
                        </div>
                        <div class="table-container">
                            <table class="data-table" id="stocks-table">
                                <thead>
                                    <tr>
                                        <th>股票代码</th>
                                        <th>股票名称</th>
                                        <th>最新价</th>
                                        <th>最新日期</th>
                                        <th>市值(亿)</th>
                                        <th>数据条数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="stocks-tbody">
                                    <tr><td colspan="7" class="loading">加载中...</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
