<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>形态猎手-KHunter</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/khunter.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightweight-charts@4.1.0/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        {% include 'layout/sidebar.html' %}
        <main class="main-content">
            {% include 'layout/header.html' %}
            <div class="content">
                {% include 'pages/_pages.html' %}
            </div>
        </main>
    </div>

    {% include 'modals/_modals.html' %}
    {% include 'layout/scripts.html' %}
</body>
</html>
